/*Color palette*/

$white: #ffff;
$gray-medium: #58595b;
$gray-semi-dark: #414042;
$gray-dark: #221f20;
$gray: #333132;
$red: #d83832;

$color-list: $white, $gray-medium, $gray-semi-dark, $gray-dark, $gray, $red;
$color-names: 'white', 'gray-medium', 'gray-semi-dark','gray-dark', 'gray', 'red';


@each $current-color in $color-list {
  $i: index($color-list, $current-color);
  //creates color classes for text
  .#{nth($color-names, $i)}{
    color: $current-color !important;
  }
  //creates color background classes
  .#{nth($color-names, $i)}-bg{
    background-color: $current-color !important;
  }
}


